body{
    font-family: 'Lexend', sans-serif;
    margin:0;
}
header {
    height:64px;
    background-color: yellowgreen;
    display: flex;
    align-items: center;
    padding: 0px 8px 0px 8px;
    color:white;
    font-size: 18px;
    text-transform: uppercase;

}
nav{
    display:flex;
    align-items: center;
}
header nav ul {
    margin:0;
    padding: 0;
    list-style-type:none;
}

header nav ul li {
    display:inline-block;
    padding:0 16px 0 16px;
}
header nav ul li:hover{
    background-color: aqua;
    border-radius: 8px;
}
header nav ul li a {
    text-decoration: none;
    color:white;
}
.active {
text-decoration: underline;
background-color: indianred;
border-radius: 8px;
}