#navigation-div {
    background-color:#DC2E2E;
    height:128px;
    width:1440px;
}

#main-div{
    background-color:#385B37;
    height:668px;
    width:1440px; 
}

#footer-div{
    background-color:#0057FF;
    height:210px;
    width:1440px;
}

